<h5><b>Nome:</b>{{usuario.nome}}</h1>
    <h5><b>Email:</b>{{usuario.email}}</h1>
        <h5><b>Idade:</b>{{usuario.idade}}</h1>
            <h5><b>Descrição:</b>{{usuario.descricao}}</h1>
                <h5><b>Localização:</b>{{usuario.localizacao}}</h1>
                    <h5><b>Sexo:</b>{{usuario.sexo}}</h1>
                        <h5><b>Aluguéis realizados:</b>1232</h1>


                            <button class="btn btn-warning">Editar Perfil</button>